.worksIndex_popularMovies_box{

}
.worksIndex_popularMovies_title_box{
  text-align: center;
}
.worksIndex_popularMovies_title{
  font-size: 20px;
  font-weight: bold;
}
.worksIndex_popularMovies_title_time{
  color: gray;
  font-size: 12px;
}
.worksIndex_popularMovies_movies{
  display: flex;
  gap: 10px;
}
.worksIndex_popularMovies_movie{
  width: 20%;
  height: 304px;
}
.worksIndex_popularMovies_movie_image{
  width: 100%;
  height: 180px;
}
.worksIndex_popularMovies_movie_imageTag{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.worksIndex_popularMovies_movie_title{
  font-size: 12px;
}