/* searchForm ************************************************************************/
.worksIndex_searchForm{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 50px;
}
.worksIndex_searchForm_textField_box{
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 10px 0;
}
.worksIndex_searchForm_textField_box::before{
  width: 45px;
  height: 15px;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%239aa0a6%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
  background-position: center;
  background-repeat: no-repeat;
  content: '';
}
.worksIndex_searchForm_textField{
  width: 500px;
  height: 40px;
  padding: 5px 25px 5px 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}
.worksIndex_searchForm_submit_box{
  margin: 10px 0 ;
}
.worksIndex_searchForm_submit{
  margin-left: 20px;
  background-color: #71686c;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
}

/* search.html.erb ************************************************************************/
.worksSearch{
  
}
.worksSearch_title{
  
}
.worksSearch_works{
  
}
.worksSearch_work{
  
}
.worksSearch_work_left{
  
}
.worksSearch_work_image{
  
}
.worksSearch_work_imageTag{
  
}
.worksSearch_work_right{
  
}
.worksSearch_work_title{
  
}
.worksSearch_work_releaseDate{
  
}
.worksSearch_work_category{
  
}
.worksSearch_work_human_box{
  
}
.worksSearch_work_director_box{
  
}
.worksSearch_work_heading3{
  
}
.worksSearch_work_human_name{
  
}
.worksSearch_work_cast_box{
  
}
.worksSearch_work_heading3{
  
}
.worksSearch_work_humane_name{
  
}
.worksSearch_null{
  
}