<%= form_with url: search_works_path, method: :get, local: true do |f| %>
  <%= f.label :query, "映画タイトルを入力" %>
  <%= f.text_field :query, value: params[:query] %>
  <%= f.submit "検索" %>
<% end %>

<h1>検索結果</h1>

<% if @movies.present? %>
  <h2>検索結果一覧</h2>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
      </li>
    <% end %>
  </ul>
<% end %>