.header_box{
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}
/* .header_left{

} */
/* .header_appTitle{

} */
/* .header_right{

} */
.header_navbar_list{
  display: flex;
}
.header_navbar_item{
  margin: 0 30px 0 40px;
}
.flash_message_box{
  height: 50px;
  text-align: center;
  margin-bottom: 30px;
}
.flash_message_notice{
  background-color: #98d98e;
  padding: 20px;
}
.flash_message_alert{
  background-color: #e5abbe;
  padding: 20px;
}