.header_box{
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}
.header_left{

}
.header_appTitle{

}
.header_right{

}
.header_navbar_list{

}
.header_navbar_item{

}
.header_navbar_item{

}
.header_navbar_item{

}
.header_navbar_item{

}
.header_navbar_item{

}
.flash_message_box{

}
.flash_message_notice{

}
.flash_message_alert{

}