.header_box{
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid gray;
}
/* .header_left{

} */
.header_appTitle{
  font-weight: bold;
}
/* .header_right{

} */
.header_navbar_list{
  display: flex;
}
.header_navbar_item{
  margin: 0 30px 0 40px;
  font-weight: bold;
}
.flash_message_box{
  height: 40px;
  text-align: center;
  margin: 5px auto 0 ;
  line-height: 40px;
  width: 80vw;
}
.flash_message_notice{
  color: #fff;
  background-color: #028760;
  border-radius: 100vh;
}
.flash_message_alert{
  color: #fff;
  background-color: #c53d43;
  border-radius: 100vh;
}