<div class= "header_box">
  <div class= "header_left">
    <div class= "header_appTitle">
      <%= link_to "review_share", root_path, class: "link" %>
    </div>
  </div>
</header>

<div class= "flash_message_box">
  <% if flash[:notice] %>
    <div class= "flash_message_notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class= "flash_message_alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>